@using System.Globalization;
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout_ShopGiay.cshtml";
}
@using baitapltw.Models

<link rel="stylesheet" href="/Content/SanPham/assets/css/cart.css">
<!-- title-cart -->
<main>
    <div class="title">
        <div class="body">
            <div class="title-name">
                <p class="title-desc"><i class="fa-solid fa-bag-shopping"></i> Metal </p>
                <p class="word">- GIỎ HÀNG</p>
            </div>
        </div>
    </div>
    <!-- body-cart -->

    <div class="list-cart">
        <div class="body body-header">
            <label>Sản Phẩm</label>
            <div class="price">Đơn Giá</div>
            <div class="quantity">Số Lượng</div>
            <div class="option-id">Thao Tác</div>
        </div>
        <!-- list 1 -->
        @if (Session["cart"] == null)
        {
            <div class="title-name">              
                <p class="word">Empty product in cart</p>
            </div>           
        }
        else
        {
            foreach (CartItem item in (List<CartItem>)Session["cart"])
            {
                <div class="list body ">
                    <div class="product-2"><img src="@item.Product.FeatureImage" alt="ảnh giày"><p class="desc-product">@item.Product.Title<p></div>
                    <div class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", item.Product.Price)</div>
                    <div class="quantity">
                        <div class="addToCart">
                            <ul class="quantum">
                                <li>
                                    <form action="/Product/UpdateCart" method="post" style="font-size:30px">
                                        <input type="number" min="1" name="quantity" value="@item.Quantity" />
                                        <input type="hidden" value="@item.Product.Id" name="productId">
                                        <input type="submit" value="Update" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="option-id-2">
                        <a  href="@Url.Action("RemoveItem",new { ProductId = item.Product.Id})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a>
                    </div>
                </div>
            }
            <!-- Sum-price -->
            <div class="sum-price">
                <div class="body-price">
                    <p class="sum">
                        Tổng Tiền:<strong>
                            @{
                                List<CartItem> cart = (List<CartItem>)Session["cart"];
                                var total = cart.Sum(item => item.Product.Price * item.Quantity);
                            }
                            @total
                        </strong>
                    </p>
                    <div class="body-sum">
                        <a class="btn btn-add" href="~/Home">MUA TIẾP</a>
                        <a onclick="return confirm('Đơn hàng đang được giao đến bạn');" class="btn btn-book" href="#" >MUA HÀNG</a>
                    </div>
                </div>
            </div>
        }


    </div>
</main>



