@model IEnumerable<baitapltw.Models.Product>
@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<style>
    img {
        width: 150px;
    }
</style>
<table id="datatablesSimple">
    <thead>
        <tr>
            <th>
                Hãng
            </th>
            <th>
                Tên Giày
            </th>
            <th>
                Giá
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Option
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <div class="price">@string.Format(new CultureInfo("vi-VN", false), "{0:c0}", item.Price)</div>
                </td>
                <td>
                    <img src="@item.FeatureImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Des)
                </td>
                <td>
                    <a href="~/Admin/Product/Update?id=@item.Id" class="btn btn-xs btn-danger">Edit</a>
                    <a href="~/Admin/Product/Delete?id=@item.Id" class="btn btn-xs btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>


