@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="fontc">@User.Identity.GetUserName() <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                    <a class="dropdown-item" href="~/Admin/Product">Admin</a>
                    <a class="dropdown-item" href="@Url.Action("Attending", "Product")">Course I'm Going</a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </div>
            </li>
        </ul>
    @*<li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>*@
    }
}
else
{   
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
